<div class="dashboard dashboard-show-page row">
	<div class="col-sm-8">
        <h1 class="page-header">
            Games <%= link_to "New Game", new_game_path, class: "btn btn-sm btn-primary" %>
        </h1>
		<ul class="games-list">
            <% Game.all.sort_by(&:name).each do |game| %>
                <li class="<%= "active" if @game == game %> games-list-item well well-sm clearfix">
                    <div class="row">
                        <div class="col-sm-8">
                            <h3 class="game-title clearfix">
                                <%= link_to game.name, game_path(game) %>
                                <%= render partial: 'shared/game_status', locals: { game: game } %>
                            </h3>
                            <% results = game.recent_results.limit(3) %>
                            <div class="recent-results">
                                <% if results.length > 0 %>
                                    <%= render partial: 'shared/results', object: results, locals: { show_game: false } %>
                                <% else %>
                                    <div class="recent-result inactive center">
                                        No results, play some games!
                                    </div>
                                <% end %>
                            </div>
                        </div>
                        <div class="hidden-xs col-sm-4">
                            <h3 class="game-title">Rules</h3>
                            <ul class="game-params">
                                <li class="rating-type"><%= game.rating_type %> – <%= game.allow_ties ? 'Ties allowed' : 'No ties' %></li>
                                <li class="num-players"><%= game.players.length %> players</li>
                                <li class="games-played"><%= game.results.length %> games played</li>
                            </ul>
                        </div>
                    </div>
                </li>
            <% end %>
		</ul>
	</div>
	<div class="col-sm-4">
        <h1 class="page-header">Players</h1>
        <div class="list-group player-list-group">
            <% Player.all.sort_by(&:name).each do |player| %>
                <%= player_badge(player, img_size: 32, html_options: {
                    class: 'list-group-item player-list-group-item'
                }) %>
            <% end %>
        </div>
    </div>
</div>
