<% inner = capture do %>
    <%= image_tag gravatar_url(player), size: options[:img_size].to_s %>
    <span class="name <%= options[:has_link] ? 'link' : '' %>"><%= player.name %></span>
<% end %>
<%= link_to(options[:link], options[:html_options]) do %><%= inner %><% end if options[:has_link] %>
<%= content_tag(:span, options[:html_options]) do %><%= inner %><% end unless options[:has_link] %>
