<%= form_for @game, html: {class: "form-horizontal"} do |f| %>
    <%= render partial: 'shared/errors', object: @game %>
    <%= f.hidden_field :min_number_of_players_per_team, value: 1, class: "input-mini" %>
    <%= f.hidden_field :min_number_of_teams, value: 2, class: "input-mini" %>
    <div class="form-group">
        <%= f.label :name, class: 'col-sm-3 control-label' %>
        <div class="col-sm-9">
            <%= f.text_field :name, autofocus: true, class: 'form-control' %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :rating_type, class: 'col-sm-3 control-label' %>
        <div class="col-sm-9">
            <%= f.select :rating_type, Game::RATER_MAPPINGS.map{|k, v| [v.description, k]}, {}, class: 'form-control' %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :max_number_of_players_per_team, 'Maximum number of players per team', class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
            <%= f.number_field :max_number_of_players_per_team, class: "form-control" %>
            <p class="help-block">Leave blank for no restriction</p>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :max_number_of_teams, 'Maximum number of teams', class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
            <%= f.number_field :max_number_of_teams, class: "form-control" %>
            <p class="help-block">Leave blank for no restriction</p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6">
            <div class="checkbox">
                <label>
                    <%= f.check_box :allow_ties %> 
                    Allow ties?
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :stream_url, 'Streaming URL', class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
            <%= f.text_field :stream_url, class: "form-control" %>
            <p class="help-block">An HTML5 compatible video stream for the <a href="http://www.w3schools.com/html/html5_video.asp" target="_blank">&lt;video&gt;</a> tag.</p>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :motion_detected_title, 'Motion Detected Title', class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
            <%= f.text_field :motion_detected_title, class: "form-control" %>
            <p class="help-block">
                Displayed when the route <strong><%= motion_game_path(@game.id ? @game.id : ':id') %></strong> is hit.
            </p>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :motion_absent_title, 'Motion Absent Title', class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
            <%= f.text_field :motion_absent_title, class: "form-control" %>
            <p class="help-block">
                Displayed when the route <strong><%= motion_game_path(@game.id ? @game.id : ':id') %></strong> isn't hit in over 30 seconds.
            </p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6">
            <%= f.submit class: "btn btn-primary" %>
            <%= link_to "Cancel", :back, class: "btn btn-default" %>
        </div>
    </div>
<% end %>
