<div class="game-page game-page-show">
    <h1 class="page-header">
        <%= link_to 'Games', dashboard_path %> /
        <%= @game.name %>
        <%= render partial: 'shared/game_status', locals: { game: @game } %>
        <div class="actions pull-right">
            <%= link_to 'Edit', edit_game_path(@game), class: "btn btn-primary" %>
            <% if @game.results.empty? %>
                <%= link_to "Delete", game_path(@game), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
            <% end %>
        </div>
    </h1>
    <div class="row">
        <div class="col-sm-8">
            <h3>
                Recent Results
                <%= link_to "Add Result", new_game_result_path(@game), class: "btn btn-xs btn-primary" %>
            </h3>
            <% if @game.recent_results.any? %>
                <%= render partial: 'shared/results', object: @game.recent_results, locals: { show_game: false } %>
            <% else %>
                <div class="inactive center">
                    No results, play some games!
                </div>
            <% end %>
        </div>
        <div class="col-sm-4">
            <h3>Player Ratings</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Player</th>
                        <th>Rating</th>
                        <th>W</th>
                        <th>L</th>
                    </tr>
                </thead>
                <tbody>
                    <%= render partial: 'rating', collection: @game.all_ratings.select(&:active?) %>
                </tbody>
            </table>
            <%= link_to "View All", game_ratings_path(@game), class: 'btn btn-default', style: 'width: 100%' %>
        </div>
    </div>
</div>
