<div class="game-page game-page-show" data-game-id="<%= @game.id %>">
    <h1 class="page-header">
        <%= link_to 'Games', dashboard_path %> /
        <%= @game.name %>
        <%= render partial: 'shared/game_status', locals: { game: @game } %>
        <% unless @game.stream_url.empty? %>
            <a href=#" class="stream-icon" title="View the live stream"><i class="fa fa-video-camera"></i></a>
        <% end %>
        <% if @game.can_edit?(current_player) %>
            <div class="actions pull-right">
                <%= link_to 'Edit', edit_game_path(@game), class: "btn btn-primary" %>
                <% if @game.results.empty? %>
                    <%= link_to "Delete", game_path(@game), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
                <% end %>
            </div>
        <% end %>
    </h1>
    <div class="row">
        <div class="col-xs-12">
            <% unless @game.stream_url.empty? %>
                <div class="stream">
                    <% ext = @game.stream_url.split('.')[-1] || '' %>
                    <% if ext.match(/mjpe?g/) %>
                        <img src="<%= @game.stream_url %>">
                    <% else %>
                        <video autoplay>
                            <source src="<%= @game.stream_url %>" type="video/<%= ext %>">
                        </video>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
    <% if @game.description.chomp.length > 0 %>
        <div class="well description-well">
            <%= @markdown_html %> 
        </div>
    <% end %>
    <div class="row">
        <div class="col-sm-8">
            <h3>
                Recent Results
                <%= link_to "Add Result", new_game_result_path(@game), class: "btn btn-xs btn-primary" %>
            </h3>
            <% if @game.recent_results.any? %>
                <%= render partial: 'shared/results', object: @game.recent_results, locals: { show_game: false } %>
            <% else %>
                <div class="no-results well center">
                    No results, play some games!
                </div>
            <% end %>
        </div>
        <div class="col-sm-4">
            <h3>Top 20 Ratings</h3>
            <% if @ratings.length > 0 %>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Player</th>
                            <th>Rating</th>
                            <th>W</th>
                            <th>L</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%= render partial: 'rating', collection: @ratings %>
                    </tbody>
                </table>
                <%= link_to "View All", game_ratings_path(@game), class: 'btn btn-default', style: 'width: 100%' %>
            <% else %>
                <div class="no-results well center">
                    Argh! There are no ratings.
                </div>
            <% end %>
        </div>
    </div>
</div>
