<div class="player-page player-page-show">
    <h1 class="page-header">
        <%= player_badge(@player, img_size: 45, has_link: false) %>
        <% if @player.can_edit?(current_player) %>
            <div class="actions pull-right">
                <%= link_to 'Edit', edit_player_path(@player), class: "btn btn-primary" %>
            </div>
        <% end %>
    </h1>
    <% if @player.bio.chomp.length > 0 %>
        <div class="markdown-wrapper">
            <div class="well markdown-well markdown">
                <%= @markdown_html %>
            </div>
            <div class="markdown-show-more btn btn-default">Show More</div>
        </div>
    <% end %>
    <div class="row">
        <div class="col-sm-8">
            <h3>Recent Results</h3>
            <% if @player.recent_results.any? %>
                <%= render partial: 'shared/results', object: @player.recent_results %>
            <% else %>
                <div class="no-results well center">
                    No results, play some games!
                </div>
            <% end %>
        </div>
        <div class="col-sm-4">
            <h3>Ratings</h3>
            <% if @player.ratings.length > 0 %>
                <div class="list-group">
                    <%= render partial: 'rating', collection: @player.ratings %>
                </div>
            <% else %>
                <div class="no-results well center">
                    Argh! There are no ratings.
                </div>
            <% end %>
        </div>
    </div>
</div>
